In [1]:

#for data preprocessing
import pandas as pd

#for linear algebra
import numpy as np

# data visualization
import seaborn as sns
import matplotlib.pyplot as plt

#for unzipping the dataset
import zipfile

# Preprocessing 
from sklearn.model_selection import train_test_split


# Ignore useless warnings
import warnings
warnings.filterwarnings(action="ignore")


from collections import deque

from sklearn.metrics import mean_squared_error

from plotly import __version__
print(__version__)

from plotly.offline import init_notebook_mode, plot, iplot
import plotly.graph_objs as go
import plotly.offline as pyo

init_notebook_mode(connected = True)

4.13.0

In [2]:
#Unzipping the data file
#Run only once !!! - already done  
# '''with zipfile.ZipFile("netflix-prize-data.zip","r") as zip_ref:
#     zip_ref.extractall("netflix-prize-data")'''

In [3]:
# Load data for all movies

movie_titles = pd.read_csv('netflix-prize-data/movie_titles.csv', 
                           encoding = 'ISO-8859-1', 
                           header = None, 
                           names = ['Id', 'Year', 'Name']).set_index('Id')

print('Shape Movie-Titles:\t{}'.format(movie_titles.shape))
movie_titles.head()

Shape Movie-Titles:	(17770, 2)

      Year                          Name
Id
1   2003.0               Dinosaur Planet
2   2004.0    Isle of Man TT 2004 Review
3   1997.0                     Character
4   1994.0  Paula Abdul's Get Up & Dance
5   2004.0      The Rise and Fall of ECW

In [4]:
df_raw_1 = pd.read_csv('netflix-prize-data/combined_data_1.txt', header=None, names=['User', 'Rating', 'Date'], usecols=[0, 1, 2])

In [5]:
df_raw_2 = pd.read_csv('netflix-prize-data/combined_data_2.txt', header=None, names=['User', 'Rating', 'Date'], usecols=[0, 1, 2])

In [6]:
df_raw_3 = pd.read_csv('netflix-prize-data/combined_data_3.txt', header=None, names=['User', 'Rating', 'Date'], usecols=[0, 1, 2])

In [7]:
df_raw_4 = pd.read_csv('netflix-prize-data/combined_data_4.txt', header=None, names=['User', 'Rating', 'Date'], usecols=[0, 1, 2])

In [47]:
data = df_raw_1
data = data.append(df_raw_2)
data = data.append(df_raw_3)
data = data.append(df_raw_4)

In [51]:
print("The shape of the data is ",data.shape)
data

The shape of the data is  (89600443, 3)

             User  Rating        Date
0              1:     NaN         NaN
1         1488844     3.0  2005-09-06
2          822109     5.0  2005-05-13
3          885013     4.0  2005-10-19
4           30878     4.0  2005-12-26
5          823519     3.0  2004-05-03
6          893988     3.0  2005-11-17
7          124105     4.0  2004-08-05
8         1248029     3.0  2004-04-22
9         1842128     4.0  2004-05-09
10        2238063     3.0  2005-05-11
11        1503895     4.0  2005-05-19
12        2207774     5.0  2005-06-06
13        2590061     3.0  2004-08-12
14           2442     3.0  2004-04-14
15         543865     4.0  2004-05-28
16        1209119     4.0  2004-03-23
17         804919     4.0  2004-06-10
18        1086807     3.0  2004-12-28
19        1711859     4.0  2005-05-08
20         372233     5.0  2005-11-23
21        1080361     3.0  2005-03-28
22        1245640     3.0  2005-12-19
23         558634     4.0  2004-12-14
24        2165002     4.0  2004-04-06
25        1181550     3.0  2004-02-01
26        1227322     4.0  2004-02-06
27         427928     4.0  2004-02-26
28         814701     5.0  2005-09-29
29         808731     4.0  2005-10-31
...           ...     ...         ...
26851896  1882093     3.0  2004-09-24
26851897   789449     2.0  2005-03-14
26851898   737905     3.0  2005-10-12
26851899   834423     3.0  2004-06-21
26851900   892826     2.0  2004-06-07
26851901  2142868     4.0  2004-04-28
26851902   953604     3.0  2004-08-31
26851903  2331946     1.0  2004-07-07
26851904  1205647     3.0  2004-10-16
26851905   357707     3.0  2004-10-18
26851906  1933317     3.0  2005-12-04
26851907   982006     3.0  2005-07-05
26851908   111084     2.0  2003-11-24
26851909   635735     4.0  2004-12-01
26851910  2167041     4.0  2005-02-01
26851911   925414     4.0  2005-02-08
26851912  1983962     2.0  2005-02-23
26851913   897629     3.0  2005-04-13
26851914  1274035     4.0  2005-06-10
26851915  2641559     3.0  2005-06-27
26851916   834323     2.0  2005-10-04
26851917   516110     5.0  2004-08-26
26851918   365996     3.0  2003-11-10
26851919   986348     4.0  2004-08-12
26851920   311124     3.0  2005-09-29
26851921  1790158     4.0  2005-11-01
26851922  1608708     3.0  2005-07-19
26851923   234275     1.0  2004-08-07
26851924   255278     4.0  2004-05-28
26851925   453585     2.0  2005-03-10

[89600443 rows x 3 columns]

In [50]:
movie_data = movie_titles['Year'].value_counts().sort_index()
movie_data

1896.0       1
1909.0       1
1914.0       2
1915.0       5
1916.0       4
1917.0       3
1918.0       2
1919.0       8
1920.0       6
1921.0       9
1922.0       6
1923.0       2
1924.0       4
1925.0      12
1926.0       9
1927.0      13
1928.0      10
1929.0      10
1930.0      13
1931.0      13
1932.0      22
1933.0      15
1934.0      26
1935.0      16
1936.0      29
1937.0      27
1938.0      21
1939.0      37
1940.0      34
1941.0      33
          ...
1976.0     129
1977.0     125
1978.0     148
1979.0     158
1980.0     166
1981.0     154
1982.0     165
1983.0     182
1984.0     189
1985.0     226
1986.0     228
1987.0     267
1988.0     283
1989.0     276
1990.0     296
1991.0     316
1992.0     342
1993.0     376
1994.0     459
1995.0     490
1996.0     533
1997.0     653
1998.0     743
1999.0     965
2000.0    1234
2001.0    1184
2002.0    1310
2003.0    1271
2004.0    1436
2005.0     512
Name: Year, Length: 94, dtype: int64

In [11]:
# Create trace
trace = go.Scatter(x = movie_data.index,
                   y = movie_data.values,
                   marker = dict(color = '#db0000'))


# Create layout
layout = dict(title = 'Movies Grouped By Year Of Release',
              xaxis = dict(title = 'Release Year'),
              yaxis = dict(title = 'Movies'))

# Create plot
fig = go.Figure(data=[trace], layout=layout)
plot(fig)

'temp-plot.html'

In [12]:
tmpMovie = data[data['Rating'].isna()]['User'].reset_index()
tmpMovie

          index    User
0             0      1:
1           548      2:
2           694      3:
3          2707      4:
4          2850      5:
5          3991      6:
6          5011      7:
7          5105      8:
8         20016      9:
9         20112     10:
10        20362     11:
11        20561     12:
12        21108     13:
13        21234     14:
14        21353     15:
15        21644     16:
16        24344     17:
17        31453     18:
18        42176     19:
19        42716     20:
20        42833     21:
21        43052     22:
22        43256     23:
23        43872     24:
24        45206     25:
25        46414     26:
26        52276     27:
27        52550     28:
28        92303     29:
29        92827     30:
...         ...     ...
15723  26707978  17741:
15724  26710503  17742:
15725  26711303  17743:
15726  26717755  17744:
15727  26717971  17745:
15728  26718585  17746:
15729  26719560  17747:
15730  26720438  17748:
15731  26720894  17749:
15732  26721076  17750:
15733  26721165  17751:
15734  26723641  17752:
15735  26724351  17753:
15736  26724519  17754:
15737  26724912  17755:
15738  26725052  17756:
15739  26733788  17757:
15740  26734309  17758:
15741  26737684  17759:
15742  26737983  17760:
15743  26738427  17761:
15744  26742739  17762:
15745  26774850  17763:
15746  26776808  17764:
15747  26841766  17765:
15748  26842080  17766:
15749  26842686  17767:
15750  26842891  17768:
15751  26844254  17769:
15752  26851004  17770:

[15753 rows x 2 columns]

In [52]:
movieIndices = [[index, int(movie[:-1])] for index, movie in tmpMovie.values]
movieIndices

[[0, 1],
 [548, 2],
 [694, 3],
 [2707, 4],
 [2850, 5],
 [3991, 6],
 [5011, 7],
 [5105, 8],
 [20016, 9],
 [20112, 10],
 [20362, 11],
 [20561, 12],
 [21108, 13],
 [21234, 14],
 [21353, 15],
 [21644, 16],
 [24344, 17],
 [31453, 18],
 [42176, 19],
 [42716, 20],
 [42833, 21],
 [43052, 22],
 [43256, 23],
 [43872, 24],
 [45206, 25],
 [46414, 26],
 [52276, 27],
 [52550, 28],
 [92303, 29],
 [92827, 30],
 [211241, 31],
 [211463, 32],
 [213318, 33],
 [220209, 34],
 [220318, 35],
 [221158, 36],
 [222098, 37],
 [222380, 38],
 [223183, 39],
 [223936, 40],
 [224428, 41],
 [224522, 42],
 [224651, 43],
 [224757, 44],
 [233259, 45],
 [235879, 46],
 [242438, 47],
 [244789, 48],
 [248381, 49],
 [248613, 50],
 [248942, 51],
 [249033, 52],
 [254181, 53],
 [254296, 54],
 [254456, 55],
 [256863, 56],
 [258697, 57],
 [262260, 58],
 [279666, 59],
 [279871, 60],
 [280167, 61],
 [280315, 62],
 [280606, 63],
 [280791, 64],
 [280887, 65],
 [281146, 66],
 [281313, 67],
 [281603, 68],
 [283820, 69],
 [283937, 70],
 [284281, 71],
 [285843, 72],
 [286023, 73],
 [286771, 74],
 [287160, 75],
 [287380, 76],
 [290335, 77],
 [303934, 78],
 [308785, 79],
 [312183, 80],
 [312458, 81],
 [313708, 82],
 [313828, 83],
 [332553, 84],
 [335306, 85],
 [335573, 86],
 [335750, 87],
 [335868, 88],
 [336847, 89],
 [337726, 90],
 [338352, 91],
 [338920, 92],
 [339082, 93],
 [339257, 94],
 [339600, 95],
 [340536, 96],
 [341025, 97],
 [352534, 98],
 [352665, 99],
 [352792, 100],
 [352871, 101],
 [353202, 102],
 [353533, 103],
 [353743, 104],
 [357244, 105],
 [357437, 106],
 [358378, 107],
 [359208, 108],
 [378227, 109],
 [378773, 110],
 [380933, 111],
 [411061, 112],
 [411301, 113],
 [412695, 114],
 [413124, 115],
 [413791, 116],
 [414918, 117],
 [415900, 118],
 [435141, 119],
 [435238, 120],
 [435578, 121],
 [435678, 122],
 [439061, 123],
 [439338, 124],
 [439508, 125],
 [441238, 126],
 [442423, 127],
 [445438, 128],
 [445856, 129],
 [446613, 130],
 [446700, 131],
 [447406, 132],
 [448237, 133],
 [450801, 134],
 [450901, 135],
 [451286, 136],
 [451407, 137],
 [451612, 138],
 [457620, 139],
 [457717, 140],
 [457837, 141],
 [457964, 142],
 [458291, 143],
 [496654, 144],
 [496944, 145],
 [497400, 146],
 [497767, 147],
 [497899, 148],
 [520094, 149],
 [520157, 150],
 [520423, 151],
 [520600, 152],
 [529763, 153],
 [530085, 154],
 [530244, 155],
 [531225, 156],
 [539405, 157],
 [540111, 158],
 [540486, 159],
 [540651, 160],
 [541551, 161],
 [542201, 162],
 [542676, 163],
 [542870, 164],
 [543523, 165],
 [548112, 166],
 [557548, 167],
 [566700, 168],
 [568054, 169],
 [568390, 170],
 [568606, 171],
 [574797, 172],
 [575120, 173],
 [577357, 174],
 [577549, 175],
 [668000, 176],
 [668211, 177],
 [668453, 178],
 [670385, 179],
 [670672, 180],
 [673091, 181],
 [676650, 182],
 [676885, 183],
 [677049, 184],
 [677449, 185],
 [679747, 186],
 [680039, 187],
 [700089, 188],
 [702639, 189],
 [716777, 190],
 [716882, 191],
 [815603, 192],
 [815879, 193],
 [816001, 194],
 [816648, 195],
 [816834, 196],
 [816989, 197],
 [898250, 198],
 [898445, 199],
 [933955, 200],
 [934085, 201],
 [936810, 202],
 [937193, 203],
 [937290, 204],
 [937521, 205],
 [938035, 206],
 [939132, 207],
 [939391, 208],
 [941588, 209],
 [945962, 210],
 [946650, 211],
 [947305, 212],
 [948196, 213],
 [951679, 214],
 [951804, 215],
 [957622, 216],
 [966518, 217],
 [966944, 218],
 [967060, 219],
 [967172, 220],
 [967394, 221],
 [967556, 222],
 [967656, 223],
 [991782, 224],
 [992869, 225],
 [1000265, 226],
 [1000455, 227],
 [1001786, 228],
 [1001882, 229],
 [1002535, 230],
 [1002662, 231],
 [1003431, 232],
 [1008408, 233],
 [1008827, 234],
 [1008925, 235],
 [1009368, 236],
 [1009494, 237],
 [1009843, 238],
 [1012179, 239],
 [1014370, 240],
 [1019555, 241],
 [1062678, 242],
 [1065054, 243],
 [1065174, 244],
 [1065280, 245],
 [1065372, 246],
 [1065804, 247],
 [1066458, 248],
 [1072620, 249],
 [1072818, 250],
 [1073592, 251],
 [1074797, 252],
 [1099185, 253],
 [1104236, 254],
 [1104427, 255],
 [1109014, 256],
 [1121279, 257],
 [1148637, 258],
 [1148802, 259],
 [1149679, 260],
 [1149885, 261],
 [1150412, 262],
 [1154791, 263],
 [1155692, 264],
 [1155827, 265],
 [1156136, 266],
 [1156263, 267],
 [1157426, 268],
 [1162972, 269],
 [1184440, 270],
 [1220872, 271],
 [1221351, 272],
 [1221414, 273],
 [1253442, 274],
 [1254217, 275],
 [1264821, 276],
 [1264937, 277],
 [1265095, 278],
 [1265179, 279],
 [1265917, 280],
 [1266457, 281],
 [1269675, 282],
 [1270069, 283],
 [1276446, 284],
 [1276544, 285],
 [1290553, 286],
 [1290745, 287],
 [1290996, 288],
 [1292145, 289],
 [1296558, 290],
 [1344210, 291],
 [1344319, 292],
 [1344854, 293],
 [1345263, 294],
 [1345726, 295],
 [1374681, 296],
 [1374798, 297],
 [1376755, 298],
 [1377211, 299],
 [1454156, 300],
 [1454269, 301],
 [1454445, 302],
 [1455325, 303],
 [1455551, 304],
 [1458979, 305],
 [1471800, 306],
 [1471998, 307],
 [1472121, 308],
 [1472322, 309],
 [1472776, 310],
 [1473222, 311],
 [1498058, 312],
 [1563536, 313],
 [1663349, 314],
 [1663864, 315],
 [1663974, 316],
 [1666495, 317],
 [1666590, 318],
 [1666686, 319],
 [1666806, 320],
 [1666931, 321],
 [1667076, 322],
 [1667975, 323],
 [1668688, 324],
 [1669080, 325],
 [1670202, 326],
 [1670368, 327],
 [1670547, 328],
 [1670745, 329],
 [1737012, 330],
 [1764051, 331],
 [1811219, 332],
 [1811369, 333],
 [1811763, 334],
 [1851639, 335],
 [1851789, 336],
 [1851989, 337],
 [1854283, 338],
 [1855686, 339],
 [1856240, 340],
 [1856419, 341],
 [1858282, 342],
 [1859641, 343],
 [1859734, 344],
 [1862339, 345],
 [1866515, 346],
 [1867001, 347],
 [1867110, 348],
 [1879850, 349],
 [1880434, 350],
 [1881586, 351],
 [1881716, 352],
 [1881836, 353],
 [1902297, 354],
 [1902440, 355],
 [1902591, 356],
 [1904462, 357],
 [1981777, 358],
 [1984786, 359],
 [1989367, 360],
 [1991599, 361],
 [2027449, 362],
 [2031386, 363],
 [2033030, 364],
 [2033154, 365],
 [2033415, 366],
 [2033766, 367],
 [2046204, 368],
 [2047600, 369],
 [2048563, 370],
 [2049048, 371],
 [2051053, 372],
 [2051202, 373],
 [2051288, 374],
 [2051532, 375],
 [2053597, 376],
 [2053791, 377],
 [2053904, 378],
 [2062090, 379],
 [2062249, 380],
 [2062779, 381],
 [2069440, 382],
 [2069599, 383],
 [2069823, 384],
 [2071262, 385],
 [2080631, 386],
 [2082101, 387],
 [2082690, 388],
 [2082908, 389],
 [2083300, 390],
 [2088543, 391],
 [2089116, 392],
 [2089177, 393],
 [2101071, 394],
 [2102689, 395],
 [2104512, 396],
 [2104717, 397],
 [2105466, 398],
 [2109032, 399],
 [2109158, 400],
 [2112852, 401],
 [2116099, 402],
 [2116222, 403],
 [2116663, 404],
 [2117122, 405],
 [2124244, 406],
 [2172862, 407],
 [2173082, 408],
 [2175904, 409],
 [2176352, 410],
 [2177362, 411],
 [2177566, 412],
 [2177887, 413],
 [2207797, 414],
 [2209226, 415],
 [2209353, 416],
 [2220610, 417],
 [2222076, 418],
 [2224138, 419],
 [2224740, 420],
 [2229236, 421],
 [2230224, 422],
 [2235723, 423],
 [2236020, 424],
 [2250141, 425],
 [2254674, 426],
 [2258892, 427],
 [2261574, 428],
 [2261690, 429],
 [2262910, 430],
 [2264457, 431],
 [2267907, 432],
 [2270622, 433],
 [2280666, 434],
 [2280805, 435],
 [2281149, 436],
 [2284635, 437],
 [2284801, 438],
 [2288514, 439],
 [2289203, 440],
 [2289311, 441],
 [2289652, 442],
 [2314945, 443],
 [2351461, 444],
 [2351552, 445],
 [2359087, 446],
 [2359807, 447],
 [2359899, 448],
 [2360089, 449],
 [2360180, 450],
 [2360318, 451],
 [2361431, 452],
 [2363862, 453],
 [2364289, 454],
 [2366123, 455],
 [2366908, 456],
 [2369359, 457],
 [2486122, 458],
 [2486478, 459],
 [2493750, 460],
 [2494095, 461],
 [2494640, 462],
 [2495419, 463],
 [2497706, 464],
 [2497789, 465],
 [2497890, 466],
 [2498253, 467],
 [2499309, 468],
 [2559725, 469],
 [2559831, 470],
 [2560411, 471],
 [2564912, 472],
 [2565428, 473],
 [2589031, 474],
 [2592067, 475],
 [2593109, 476],
 [2595137, 477],
 [2597379, 478],
 [2597811, 479],
 [2599584, 480],
 [2599944, 481],
 [2600321, 482],
 [2656826, 483],
 [2746837, 484],
 [2747070, 485],
 [2748397, 486],
 [2752298, 487],
 [2752576, 488],
 [2755824, 489],
 [2760651, 490],
 [2761525, 491],
 [2761814, 492],
 [2763538, 493],
 [2763645, 494],
 [2791247, 495],
 [2791787, 496],
 [2792023, 497],
 [2792599, 498],
 [2792882, 499],
 [2798671, 500],
 [2799204, 501],
 [2814384, 502],
 [2815962, 503],
 [2816214, 504],
 [2818558, 505],
 [2820934, 506],
 [2821092, 507],
 [2822402, 508],
 [2822597, 509],
 [2822784, 510],
 [2822969, 511],
 [2824683, 512],
 [2824981, 513],
 [2825406, 514],
 [2826274, 515],
 [2826407, 516],
 [2846589, 517],
 [2853157, 518],
 [2855426, 519],
 [2855768, 520],
 [2855944, 521],
 [2856077, 522],
 [2856398, 523],
 [2856693, 524],
 [2862830, 525],
 [2862976, 526],
 [2863558, 527],
 [2863830, 528],
 [2892285, 529],
 [2892775, 530],
 [2892932, 531],
 [2893339, 532],
 [2894397, 533],
 [2900313, 534],
 [2905631, 535],
 [2911742, 536],
 [2912159, 537],
 [2912347, 538],
 [2912550, 539],
 [2912779, 540],
 [2912942, 541],
 [2913047, 542],
 [2913219, 543],
 [2914429, 544],
 [2914583, 545],
 [2914922, 546],
 [2915079, 547],
 [2915679, 548],
 [2923419, 549],
 [2923492, 550],
 [2957290, 551],
 [2972113, 552],
 [2972844, 553],
 [2973444, 554],
 [2979335, 555],
 [2980386, 556],
 [2981016, 557],
 [2981190, 558],
 [2981768, 559],
 [2981884, 560],
 [2983591, 561],
 [2986392, 562],
 [2986479, 563],
 [2997326, 564],
 [3008152, 565],
 [3008285, 566],
 [3008937, 567],
 [3009118, 568],
 [3009303, 569],
 [3013654, 570],
 [3013917, 571],
 [3168750, 572],
 [3169311, 573],
 [3169516, 574],
 [3169625, 575],
 [3171748, 576],
 [3172396, 577],
 [3174491, 578],
 [3174726, 579],
 [3176774, 580],
 [3185040, 581],
 [3185125, 582],
 [3187339, 583],
 [3187495, 584],
 [3188504, 585],
 [3190488, 586],
 [3192825, 587],
 [3193354, 588],
 [3195408, 589],
 [3196008, 590],
 [3196186, 591],
 [3196701, 592],
 [3196839, 593],
 [3196932, 594],
 [3197227, 595],
 [3198850, 596],
 [3200012, 597],
 [3200229, 598],
 [3200477, 599],
 [3210224, 600],
 [3213135, 601],
 [3213542, 602],
 [3214735, 603],
 [3215137, 604],
 [3215253, 605],
 [3215492, 606],
 [3216337, 607],
 [3316586, 608],
 [3316655, 609],
 [3317426, 610],
 [3317531, 611],
 [3317678, 612],
 [3317933, 613],
 [3318514, 614],
 [3318657, 615],
 [3332446, 616],
 [3332561, 617],
 [3333357, 618],
 [3333719, 619],
 [3333986, 620],
 [3334657, 621],
 [3343210, 622],
 [3343558, 623],
 [3343798, 624],
 [3344893, 625],
 [3345490, 626],
 [3345788, 627],
 [3345887, 628],
 [3346552, 629],
 [3358369, 630],
 [3358615, 631],
 [3366915, 632],
 [3367644, 633],
 [3368066, 634],
 [3369599, 635],
 [3369741, 636],
 [3383461, 637],
 [3384158, 638],
 [3388324, 639],
 [3388516, 640],
 [3388954, 641],
 [3390154, 642],
 [3391391, 643],
 [3394672, 644],
 [3394975, 645],
 [3403661, 646],
 [3407697, 647],
 [3408389, 648],
 [3408560, 649],
 [3408641, 650],
 [3409081, 651],
 [3409226, 652],
 [3414356, 653],
 [3414493, 654],
 [3414579, 655],
 [3415397, 656],
 [3415517, 657],
 [3417448, 658],
 [3461450, 659],
 [3464440, 660],
 [3485242, 661],
 [3488684, 662],
 [3500094, 663],
 [3500906, 664],
 [3501264, 665],
 [3501472, 666],
 [3501824, 667],
 [3502929, 668],
 [3509294, 669],
 [3509374, 670],
 [3516942, 671],
 [3517421, 672],
 [3521868, 673],
 [3523201, 674],
 [3530839, 675],
 [3531019, 676],
 [3533408, 677],
 [3539760, 678],
 [3540043, 679],
 [3540132, 680],
 [3542830, 681],
 [3546917, 682],
 [3551684, 683],
 [3551823, 684],
 [3551998, 685],
 [3553062, 686],
 [3567732, 687],
 [3567866, 688],
 [3568191, 689],
 [3576886, 690],
 [3577816, 691],
 [3578005, 692],
 [3610834, 693],
 [3613241, 694],
 [3614127, 695],
 [3614294, 696],
 [3621389, 697],
 [3621599, 698],
 [3621679, 699],
 [3622039, 700],
 [3626724, 701],
 [3627047, 702],
 [3627257, 703],
 [3627452, 704],
 [3627615, 705],
 [3666296, 706],
 [3666964, 707],
 [3669241, 708],
 [3741623, 709],
 [3741987, 710],
 [3742245, 711],
 [3757005, 712],
 [3757904, 713],
 [3758035, 714],
 [3758112, 715],
 [3758616, 716],
 [3758719, 717],
 [3760671, 718],
 [3762419, 719],
 [3763234, 720],
 [3789953, 721],
 [3790297, 722],
 [3796253, 723],
 [3810292, 724],
 [3811516, 725],
 [3816649, 726],
 [3816818, 727],
 [3816952, 728],
 [3817135, 729],
 [3817350, 730],
 [3821819, 731],
 [3823814, 732],
 [3826378, 733],
 [3829065, 734],
 [3835781, 735],
 [3835979, 736],
 [3836295, 737],
 [3836403, 738],
 [3836994, 739],
 [3837933, 740],
 [3838060, 741],
 [3838480, 742],
 [3838696, 743],
 [3839156, 744],
 [3839263, 745],
 [3839377, 746],
 [3863505, 747],
 [3863610, 748],
 [3867248, 749],
 [3870554, 750],
 [3872626, 751],
 [3882187, 752],
 [3890857, 753],
 [3891017, 754],
 [3893054, 755],
 [3894063, 756],
 [3894151, 757],
 [3894276, 758],
 [3998639, 759],
 [4015496, 760],
 [4024809, 761],
 [4026873, 762],
 [4029209, 763],
 [4041127, 764],
 [4041782, 765],
 [4042000, 766],
 [4042406, 767],
 [4042721, 768],
 [4043381, 769],
 [4043493, 770],
 [4043662, 771],
 [4044051, 772],
 [4044121, 773],
 [4044654, 774],
 [4047130, 775],
 [4047609, 776],
 [4048966, 777],
 [4049579, 778],
 [4049706, 779],
 [4050134, 780],
 [4050532, 781],
 [4051274, 782],
 [4051370, 783],
 [4052574, 784],
 [4052799, 785],
 [4053187, 786],
 [4053696, 787],
 [4053779, 788],
 [4112307, 789],
 [4143845, 790],
 [4144211, 791],
 [4144600, 792],
 [4144721, 793],
 [4144929, 794],
 [4145739, 795],
 [4145951, 796],
 [4146401, 797],
 [4146722, 798],
 [4228001, 799],
 [4229106, 800],
 [4229261, 801],
 [4229420, 802],
 [4229521, 803],
 [4229885, 804],
 [4230495, 805],
 [4230792, 806],
 [4231789, 807],
 [4234851, 808],
 [4238565, 809],
 [4242454, 810],
 [4242560, 811],
 [4254109, 812],
 [4254232, 813],
 [4254375, 814],
 [4254805, 815],
 [4255045, 816],
 [4255147, 817],
 [4259998, 818],
 [4274383, 819],
 [4290170, 820],
 [4290216, 821],
 [4290336, 822],
 [4294149, 823],
 [4294427, 824],
 [4295366, 825],
 [4301239, 826],
 [4301412, 827],
 [4301580, 828],
 [4301798, 829],
 [4310891, 830],
 [4311025, 831],
 [4330589, 832],
 [4334084, 833],
 [4342463, 834],
 [4342836, 835],
 [4343474, 836],
 [4344266, 837],
 [4345511, 838],
 [4346110, 839],
 [4347028, 840],
 [4350585, 841],
 [4350736, 842],
 [4351316, 843],
 [4362718, 844],
 [4362899, 845],
 [4363136, 846],
 [4366735, 847],
 [4366981, 848],
 [4367351, 849],
 [4368879, 850],
 [4370975, 851],
 [4396076, 852],
 [4396646, 853],
 [4397112, 854],
 [4397270, 855],
 [4397728, 856],
 [4398114, 857],
 [4399602, 858],
 [4400155, 859],
 [4411232, 860],
 [4411362, 861],
 [4411936, 862],
 [4431288, 863],
 [4431584, 864],
 [4431798, 865],
 [4432054, 866],
 [4432880, 867],
 [4433016, 868],
 [4433653, 869],
 [4433767, 870],
 [4433905, 871],
 [4435326, 872],
 [4467018, 873],
 [4468250, 874],
 [4468353, 875],
 [4468550, 876],
 [4468737, 877],
 [4469177, 878],
 [4469270, 879],
 [4469729, 880],
 [4471401, 881],
 [4472534, 882],
 [4472617, 883],
 [4477154, 884],
 [4477250, 885],
 [4477713, 886],
 [4586320, 887],
 [4586562, 888],
 [4586672, 889],
 [4589587, 890],
 [4589946, 891],
 [4590234, 892],
 [4590877, 893],
 [4591658, 894],
 [4596503, 895],
 [4598971, 896],
 [4629565, 897],
 [4641922, 898],
 [4643149, 899],
 [4643339, 900],
 [4654517, 901],
 [4655109, 902],
 [4655710, 903],
 [4655819, 904],
 [4656018, 905],
 [4656165, 906],
 [4657022, 907],
 [4661923, 908],
 [4672962, 909],
 [4673301, 910],
 [4673438, 911],
 [4673978, 912],
 [4674301, 913],
 [4674470, 914],
 [4674593, 915],
 [4674637, 916],
 [4675080, 917],
 [4675193, 918],
 [4682768, 919],
 [4693603, 920],
 [4693717, 921],
 [4694503, 922],
 [4694707, 923],
 [4694821, 924],
 [4694915, 925],
 [4695645, 926],
 [4695755, 927],
 [4695973, 928],
 [4696317, 929],
 [4697226, 930],
 [4697865, 931],
 [4699675, 932],
 [4699829, 933],
 [4700093, 934],
 [4701460, 935],
 [4702187, 936],
 [4702357, 937],
 [4726049, 938],
 [4726230, 939],
 [4726392, 940],
 [4744857, 941],
 [4745019, 942],
 [4748274, 943],
 [4750028, 944],
 [4750118, 945],
 [4750232, 946],
 [4750374, 947],
 [4751401, 948],
 [4751538, 949],
 [4753215, 950],
 [4753307, 951],
 [4753640, 952],
 [4756051, 953],
 [4763052, 954],
 [4771142, 955],
 [4771407, 956],
 [4774445, 957],
 [4775061, 958],
 [4775326, 959],
 [4775521, 960],
 [4776594, 961],
 [4778965, 962],
 [4800250, 963],
 [4837561, 964],
 [4840438, 965],
 [4840763, 966],
 [4840960, 967],
 [4841827, 968],
 [4841935, 969],
 [4842068, 970],
 [4842272, 971],
 [4845410, 972],
 [4845639, 973],
 [4845865, 974],
 [4846492, 975],
 [4846623, 976],
 [4846790, 977],
 [4848867, 978],
 [4851123, 979],
 [4851252, 980],
 [4852480, 981],
 [4852795, 982],
 [4854359, 983],
 [4854857, 984],
 [4856571, 985],
 [4946571, 986],
 [4950210, 987],
 [4950306, 988],
 [4952146, 989],
 [4970445, 990],
 [4973404, 991],
 [4973764, 992],
 [4979975, 993],
 [4983313, 994],
 [4996567, 995],
 [4996672, 996],
 [5008531, 997],
 [5008834, 998],
 [5009281, 999],
 [5010438, 1000],
 ...]

In [14]:
shiftedMovieIndices = deque(movieIndices)
shiftedMovieIndices.rotate(-1)
len(shiftedMovieIndices)

15753

In [53]:
userData = []
for [dfID_1, movieID], [dfID_2, nextMovieID] in zip(movieIndices, shiftedMovieIndices):
    #Check if it is the last movie in the file
    if dfID_1 < dfID_2:
        tmpDF = data.iloc[dfID_1+1:dfID_2-1].copy()
    else:
        tmpDF = data.iloc[dfID_1 + 1 : ].copy()
        
    #Create movie column
    tmpDF['Movie'] = movieID
    
    userData.append(tmpDF)

#concatenate all dataframes
totalDF_1 = pd.concat(userData)
totalDF_1

             User  Rating        Date  Movie
1         1488844     3.0  2005-09-06      1
2          822109     5.0  2005-05-13      1
3          885013     4.0  2005-10-19      1
4           30878     4.0  2005-12-26      1
5          823519     3.0  2004-05-03      1
6          893988     3.0  2005-11-17      1
7          124105     4.0  2004-08-05      1
8         1248029     3.0  2004-04-22      1
9         1842128     4.0  2004-05-09      1
10        2238063     3.0  2005-05-11      1
11        1503895     4.0  2005-05-19      1
12        2207774     5.0  2005-06-06      1
13        2590061     3.0  2004-08-12      1
14           2442     3.0  2004-04-14      1
15         543865     4.0  2004-05-28      1
16        1209119     4.0  2004-03-23      1
17         804919     4.0  2004-06-10      1
18        1086807     3.0  2004-12-28      1
19        1711859     4.0  2005-05-08      1
20         372233     5.0  2005-11-23      1
21        1080361     3.0  2005-03-28      1
22        1245640     3.0  2005-12-19      1
23         558634     4.0  2004-12-14      1
24        2165002     4.0  2004-04-06      1
25        1181550     3.0  2004-02-01      1
26        1227322     4.0  2004-02-06      1
27         427928     4.0  2004-02-26      1
28         814701     5.0  2005-09-29      1
29         808731     4.0  2005-10-31      1
30         662870     5.0  2005-08-24      1
...           ...     ...         ...    ...
26851896  1882093     3.0  2004-09-24  17770
26851897   789449     2.0  2005-03-14  17770
26851898   737905     3.0  2005-10-12  17770
26851899   834423     3.0  2004-06-21  17770
26851900   892826     2.0  2004-06-07  17770
26851901  2142868     4.0  2004-04-28  17770
26851902   953604     3.0  2004-08-31  17770
26851903  2331946     1.0  2004-07-07  17770
26851904  1205647     3.0  2004-10-16  17770
26851905   357707     3.0  2004-10-18  17770
26851906  1933317     3.0  2005-12-04  17770
26851907   982006     3.0  2005-07-05  17770
26851908   111084     2.0  2003-11-24  17770
26851909   635735     4.0  2004-12-01  17770
26851910  2167041     4.0  2005-02-01  17770
26851911   925414     4.0  2005-02-08  17770
26851912  1983962     2.0  2005-02-23  17770
26851913   897629     3.0  2005-04-13  17770
26851914  1274035     4.0  2005-06-10  17770
26851915  2641559     3.0  2005-06-27  17770
26851916   834323     2.0  2005-10-04  17770
26851917   516110     5.0  2004-08-26  17770
26851918   365996     3.0  2003-11-10  17770
26851919   986348     4.0  2004-08-12  17770
26851920   311124     3.0  2005-09-29  17770
26851921  1790158     4.0  2005-11-01  17770
26851922  1608708     3.0  2005-07-19  17770
26851923   234275     1.0  2004-08-07  17770
26851924   255278     4.0  2004-05-28  17770
26851925   453585     2.0  2005-03-10  17770

[358370270 rows x 4 columns]

In [54]:
totalDF_1.sample()

            User  Rating        Date  Movie
5130145  1037807     4.0  2005-03-08   2482

In [57]:
totalDF_1ovie_ratings = 10000
filter_movies = (totalDF_1['Movie'].value_counts()>min_movie_ratings)
filter_movies = filter_movies[filter_movies].index.tolist()

# Filter sparse users
min_user_ratings = 200
filter_users = (totalDF_1['User'].value_counts()>min_user_ratings)
filter_users = filter_users[filter_users].index.tolist()

# Actual filtering
df_filterd = totalDF_1[(totalDF_1['Movie'].isin(filter_movies)) & (totalDF_1['User'].isin(filter_users))]
df_filterd

             User  Rating        Date  Movie
5106       824097     2.0  2005-07-08      8
5107      2630686     5.0  2005-07-10      8
5108       644003     3.0  2005-07-13      8
5109       785314     1.0  2005-07-13      8
5110       243963     3.0  2005-07-15      8
5111       229220     4.0  2005-07-18      8
5112      1447783     4.0  2005-07-19      8
5116      1912665     1.0  2005-08-21      8
5117       588844     5.0  2005-08-23      8
5119      1744889     1.0  2005-08-25      8
5120      1216014     1.0  2005-08-29      8
5122      2289614     3.0  2005-03-20      8
5123      1777904     4.0  2005-03-20      8
5124      1479492     1.0  2005-03-21      8
5125      2460625     3.0  2005-03-21      8
5127      2330282     4.0  2005-03-29      8
5128      2098867     4.0  2005-03-22      8
5129      1395430     2.0  2005-03-22      8
5130      1754013     3.0  2005-03-22      8
5131        56069     5.0  2005-03-23      8
5132      1913324     2.0  2005-03-25      8
5133      1419837     5.0  2005-03-26      8
5134      1571931     3.0  2005-03-29      8
5135      1505897     5.0  2005-03-29      8
5136       147748     5.0  2005-04-01      8
5137      1214457     1.0  2005-04-10      8
5139      2153146     4.0  2005-04-13      8
5140      1395557     5.0  2005-04-14      8
5141      1833399     3.0  2005-04-17      8
5142      1492345     5.0  2005-04-18      8
...           ...     ...         ...    ...
26851896  1882093     3.0  2004-09-24  17770
26851897   789449     2.0  2005-03-14  17770
26851898   737905     3.0  2005-10-12  17770
26851899   834423     3.0  2004-06-21  17770
26851900   892826     2.0  2004-06-07  17770
26851901  2142868     4.0  2004-04-28  17770
26851902   953604     3.0  2004-08-31  17770
26851903  2331946     1.0  2004-07-07  17770
26851904  1205647     3.0  2004-10-16  17770
26851905   357707     3.0  2004-10-18  17770
26851906  1933317     3.0  2005-12-04  17770
26851907   982006     3.0  2005-07-05  17770
26851908   111084     2.0  2003-11-24  17770
26851909   635735     4.0  2004-12-01  17770
26851910  2167041     4.0  2005-02-01  17770
26851911   925414     4.0  2005-02-08  17770
26851912  1983962     2.0  2005-02-23  17770
26851913   897629     3.0  2005-04-13  17770
26851914  1274035     4.0  2005-06-10  17770
26851915  2641559     3.0  2005-06-27  17770
26851916   834323     2.0  2005-10-04  17770
26851917   516110     5.0  2004-08-26  17770
26851918   365996     3.0  2003-11-10  17770
26851919   986348     4.0  2004-08-12  17770
26851920   311124     3.0  2005-09-29  17770
26851921  1790158     4.0  2005-11-01  17770
26851922  1608708     3.0  2005-07-19  17770
26851923   234275     1.0  2004-08-07  17770
26851924   255278     4.0  2004-05-28  17770
26851925   453585     2.0  2005-03-10  17770

[322954340 rows x 4 columns]

In [58]:
print('Shape User-Ratings unfiltered:\t{}'.format(totalDF_1.shape))
print('Shape User-Ratings filtered:\t{}'.format(df_filterd.shape))

Shape User-Ratings unfiltered:	(358370270, 4)
Shape User-Ratings filtered:	(322954340, 4)

In [59]:
# Shuffle DataFrame
df_filterd = df_filterd.drop('Date', axis=1).sample(frac=1).reset_index(drop=True)

In [60]:
train, test = train_test_split(df_filterd, test_size=0.2, random_state=42, shuffle=True)

In [61]:
df_p = train.pivot_table(index='User', columns='Movie', values='Rating')
print('Shape User-Movie-Matrix:\t{}'.format(df_p.shape))
df_p.sample(3)

Shape User-Movie-Matrix:	(309904, 1824)

Movie,8,18,28,30,58,77,83,97,108,111,...,17671,17672,17682,17692,17697,17703,17709,17762,17764,17770
User,,,,,,,,,,,,,,,,,,,,,
972613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.696970
258047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.828125
1391437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.789474

In [62]:
#Calculation of weighted mean


m = 1000

# Mean rating for all movies
C = df_p.stack().mean()
print(C)

# Mean rating for all movies separatly
R = df_p.mean(axis=0).values
print(R)
# Rating count for all movies separatly
v = df_p.count().values
print(v)

# Weighted mean formula to compute the weighted rating

weighted_score = (v/ (v+m) *R) + (m/ (v+m) *C)

# Sort ids to ranking

weighted_ranking = np.argsort(weighted_score)[::-1]

# Sort scores to ranking
weighted_score = np.sort(weighted_score)[::-1]
# Get movie ids
weighted_movie_ids = df_p.columns[weighted_ranking]


# Join labels and predictions
df_prediction = test.set_index('Movie').join(pd.DataFrame(weighted_score, index=weighted_movie_ids, columns=['Prediction']))[['Rating', 'Prediction']]
y_true = df_prediction['Rating']
y_pred = df_prediction['Prediction']

# Compute RMSE
rmse = np.sqrt(mean_squared_error(y_true=y_true, y_pred=y_pred))

3.6220678057339417
[3.1695556  3.78071856 3.8180165  ... 3.58994889 3.4595444  3.66774621]
[ 10846   8350  30794 ...  23024  42163 309904]

In [63]:
print(rmse)

1.0734476339972665

In [64]:
df_plot = pd.DataFrame(weighted_score[:20], columns=['Rating'])
ratings_mean = df_p.mean(axis=0).sort_values(ascending=False).rename('Rating-Mean').to_frame()

In [65]:
df_plot.index = weighted_movie_ids[:20]

In [66]:
ratings_count = df_p.count(axis=0).rename('Rating-Count').to_frame()

# Combine ratings_mean, ratings_count and movie_titles
ranking_mean_rating = ratings_mean.head(20).join(ratings_count).join(movie_titles.drop('Year', axis=1))
ranking_weighted_rating = df_plot.join(ratings_count).join(movie_titles)

In [67]:
trace = go.Bar(x = ranking_weighted_rating['Rating'],
               text = ranking_weighted_rating['Name'].astype(str) +': '+ ranking_weighted_rating['Rating-Count'].astype(str) + ' Ratings',
               textposition = 'outside',
               textfont = dict(color = '#000000'),
               orientation = 'h',
               y = list(range(1, 20+1)),
               marker = dict(color = '#db0000'))

In [68]:
layout = dict(title = 'Ranking Of Top 20 Weighted-Movie-Ratings ',
              xaxis = dict(title = 'Weighted Rating',
                          range = (4.15, 4.6)),
              yaxis = dict(title = 'Movie'))
# Create plot
fig = go.Figure(data=[trace], layout=layout)
plot(fig)

'temp-plot.html'