In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import zipfile
from collections import deque
import plotly
from plotly.offline import init_notebook_mode, plot
import plotly.graph_objs as go
init_notebook_mode(connected = True)

In [2]:
## Run this only once
with zipfile.ZipFile("netflix-prize-data.zip","r") as zip_ref:
     zip_ref.extractall("netflixdata")

In [66]:
## Read movie_titles file
movie_Title = pd.read_csv('netflixdata/movie_titles.csv',
                        encoding = 'ISO-8859-1',
                        header = None,
                        names = ['Id', 'Year', 'Name']).set_index('Id')
movie_Title

         Year                                               Name
Id
1      2003.0                                    Dinosaur Planet
2      2004.0                         Isle of Man TT 2004 Review
3      1997.0                                          Character
4      1994.0                       Paula Abdul's Get Up & Dance
5      2004.0                           The Rise and Fall of ECW
6      1997.0                                               Sick
7      1992.0                                              8 Man
8      2004.0                         What the #$*! Do We Know!?
9      1991.0                           Class of Nuke 'Em High 2
10     2001.0                                            Fighter
11     1999.0                     Full Frame: Documentary Shorts
12     1947.0                               My Favorite Brunette
13     2003.0  Lord of the Rings: The Return of the King: Ext...
14     1982.0                                 Nature: Antarctica
15     1988.0                   Neil Diamond: Greatest Hits Live
16     1996.0                                          Screamers
17     2005.0                                          7 Seconds
18     1994.0                                   Immortal Beloved
19     2000.0                              By Dawn's Early Light
20     1972.0                                    Seeta Aur Geeta
21     2002.0                                  Strange Relations
22     2000.0                                       Chump Change
23     2001.0  Clifford: Clifford Saves the Day! / Clifford's...
24     1981.0                                My Bloody Valentine
25     1997.0      Inspector Morse 31: Death Is Now My Neighbour
26     2004.0                                    Never Die Alone
27     1962.0  Sesame Street: Elmo's World: The Street We Liv...
28     2002.0                                    Lilo and Stitch
29     2001.0                                            Boycott
30     2003.0                             Something's Gotta Give
...       ...                                                ...
17741  2004.0                          Ginger Snaps 2: Unleashed
17742  1995.0                                Catherine the Great
17743  2003.0                               Better Luck Tomorrow
17744  2004.0                         NASCAR: Tony Stewart Smoke
17745  2002.0      Russell Simmons Presents Def Poetry: Season 1
17746  1991.0  Godzilla & Mothra: Battle for Earth / Vs. King...
17747  1991.0                            Eric Clapton: 24 Nights
17748  2005.0        Dog the Bounty Hunter: The Best of Season 1
17749  1985.0                                             No End
17750  2005.0                     The Hee Haw Collection: Vol. 4
17751  1993.0                               Highlander: Season 2
17752  2003.0                                       Out of Order
17753  1997.0                                       Maslin Beach
17754  1999.0                                       On the Ropes
17755  2003.0                           L/R: Licensed by Royalty
17756  1935.0                                       The 39 Steps
17757  2002.0  Ulysses S. Grant: Warrior / President: America...
17758  1979.0                                           Prophecy
17759  1972.0                                  The Big Bird Cage
17760  2004.0                                      Lightning Bug
17761  2003.0                                             Levity
17762  1997.0                                            Gattaca
17763  1978.0                                          Interiors
17764  1998.0                                Shakespeare in Love
17765  1969.0                                 Godzilla's Revenge
17766  2002.0  Where the Wild Things Are and Other Maurice Se...
17767  2004.0                  Fidel Castro: American Experience
17768  2000.0                                              Epoch
17769  2003.0                                        The Company
17770  2003.0                                       Alien Hunter

[17770 rows x 2 columns]

In [67]:
## Read combined data 1 file
data_1 = pd.read_csv('netflixdata/combined_data_1.txt', header = None, names=['User', 'Rating', 'Date'], usecols=[0, 1, 2])
data_1

             User  Rating        Date
0              1:     NaN         NaN
1         1488844     3.0  2005-09-06
2          822109     5.0  2005-05-13
3          885013     4.0  2005-10-19
4           30878     4.0  2005-12-26
5          823519     3.0  2004-05-03
6          893988     3.0  2005-11-17
7          124105     4.0  2004-08-05
8         1248029     3.0  2004-04-22
9         1842128     4.0  2004-05-09
10        2238063     3.0  2005-05-11
11        1503895     4.0  2005-05-19
12        2207774     5.0  2005-06-06
13        2590061     3.0  2004-08-12
14           2442     3.0  2004-04-14
15         543865     4.0  2004-05-28
16        1209119     4.0  2004-03-23
17         804919     4.0  2004-06-10
18        1086807     3.0  2004-12-28
19        1711859     4.0  2005-05-08
20         372233     5.0  2005-11-23
21        1080361     3.0  2005-03-28
22        1245640     3.0  2005-12-19
23         558634     4.0  2004-12-14
24        2165002     4.0  2004-04-06
25        1181550     3.0  2004-02-01
26        1227322     4.0  2004-02-06
27         427928     4.0  2004-02-26
28         814701     5.0  2005-09-29
29         808731     4.0  2005-10-31
...           ...     ...         ...
24058233  1836014     3.0  2004-05-05
24058234  1960927     1.0  2005-08-30
24058235  2385226     1.0  2004-05-17
24058236  1997469     2.0  2004-06-22
24058237   811530     4.0  2004-07-28
24058238  1083336     5.0  2004-12-02
24058239  1309223     1.0  2005-04-24
24058240   604335     4.0  2005-04-25
24058241   307404     2.0  2004-10-22
24058242  1334851     3.0  2005-10-25
24058243  1061120     3.0  2004-05-25
24058244  1852040     1.0  2004-05-13
24058245   268846     4.0  2004-04-26
24058246  2368103     2.0  2004-07-05
24058247   529787     4.0  2005-11-30
24058248   441248     4.0  2005-04-05
24058249  2092745     5.0  2005-03-15
24058250   555962     5.0  2004-05-05
24058251   303969     2.0  2004-05-23
24058252   654591     3.0  2004-04-26
24058253   272857     4.0  2005-06-22
24058254   185372     1.0  2004-06-07
24058255  2219917     3.0  2004-05-03
24058256  1796454     1.0  2004-07-07
24058257  2562830     4.0  2004-06-19
24058258  2591364     2.0  2005-02-16
24058259  1791000     2.0  2005-02-10
24058260   512536     5.0  2005-07-27
24058261   988963     3.0  2005-12-20
24058262  1704416     3.0  2004-06-02

[24058263 rows x 3 columns]

In [68]:
## Read combined data 2 file
data_2 = pd.read_csv('netflixdata/combined_data_2.txt', header = None, names=['User', 'Rating', 'Date'], usecols=[0, 1, 2])
data_2

             User  Rating        Date
0           4500:     NaN         NaN
1         2532865     4.0  2005-07-26
2          573364     3.0  2005-06-20
3         1696725     3.0  2004-02-27
4         1253431     3.0  2004-03-31
5         1265574     2.0  2003-09-01
6         1049643     1.0  2003-11-15
7         1601348     4.0  2005-04-05
8         1495289     5.0  2005-07-09
9         1254903     3.0  2003-09-02
10        2604070     3.0  2005-05-15
11        1006473     5.0  2005-05-23
12        1989892     3.0  2004-04-06
13        1517471     4.0  2003-12-24
14        1478381     4.0  2005-05-21
15         923084     2.0  2004-11-15
16        2446292     4.0  2005-10-06
17        2554745     3.0  2003-05-07
18        1133125     5.0  2004-08-10
19         349528     4.0  2003-08-11
20        1614895     5.0  2004-08-29
21         424958     4.0  2005-08-02
22        1390877     3.0  2003-10-07
23        2327422     4.0  2004-08-19
24          18103     3.0  2005-07-24
25         591075     4.0  2004-03-12
26        1589677     3.0  2003-07-17
27         973538     2.0  2004-11-06
28        1107636     3.0  2004-04-17
29        1279272     2.0  2005-08-08
...           ...     ...         ...
26982272   250756     3.0  2004-07-18
26982273  1546585     3.0  2005-06-04
26982274    24059     3.0  2005-06-09
26982275   112790     4.0  2002-11-08
26982276   562957     2.0  2004-03-31
26982277  1738753     3.0  2004-04-29
26982278   269231     2.0  2003-09-19
26982279   616917     4.0  2004-06-05
26982280   227141     3.0  2005-05-07
26982281   933124     4.0  2005-05-09
26982282  1592126     3.0  2005-10-07
26982283  1213178     4.0  2005-11-09
26982284   696856     3.0  2003-04-29
26982285  2648853     3.0  2002-11-08
26982286  2110090     3.0  2004-09-08
26982287   788957     4.0  2004-01-21
26982288  1141848     4.0  2004-01-19
26982289  2450817     3.0  2004-08-05
26982290   459564     4.0  2004-04-16
26982291  1116868     4.0  2004-10-27
26982292  2643057     3.0  2005-01-06
26982293   262367     3.0  2003-05-29
26982294  1921572     2.0  2002-09-22
26982295  2570936     4.0  2002-12-20
26982296   501054     3.0  2003-06-03
26982297  2420260     1.0  2003-12-01
26982298   761176     3.0  2004-06-06
26982299   459277     3.0  2005-02-25
26982300  2407365     4.0  2005-04-29
26982301   627867     3.0  2005-05-02

[26982302 rows x 3 columns]

In [69]:
## Read combined data 3 file
data_3 = pd.read_csv('netflixdata/combined_data_3.txt', header = None, names=['User', 'Rating', 'Date'], usecols=[0, 1, 2])
data_3

             User  Rating        Date
0           9211:     NaN         NaN
1         1277134     1.0  2003-12-02
2         2435457     2.0  2005-06-01
3         2338545     3.0  2001-02-17
4         2218269     1.0  2002-12-27
5          441153     4.0  2002-10-11
6         1921624     2.0  2005-08-31
7         2096652     3.0  2004-05-31
8          818736     2.0  2004-02-17
9          284560     3.0  2003-07-27
10        1211224     5.0  2004-05-08
11        1984086     1.0  2004-09-16
12        1389539     3.0  2005-06-07
13         454575     2.0  2004-10-23
14         149028     3.0  2003-06-19
15        1105843     2.0  2005-04-07
16         353813     2.0  2004-08-05
17         903779     3.0  2001-05-21
18         639194     2.0  2003-10-19
19         308031     4.0  2000-09-07
20        1794933     1.0  2003-02-14
21         625085     3.0  2004-05-21
22         893673     2.0  2000-12-04
23        1704675     2.0  2001-04-10
24        2116614     3.0  2002-07-17
25         371300     2.0  2004-08-10
26        1172345     1.0  2005-04-23
27         823026     2.0  2004-01-08
28        2241971     2.0  2002-04-19
29        1173009     2.0  2004-02-15
...           ...     ...         ...
22605756    84566     4.0  2003-12-23
22605757  1133763     3.0  2005-07-27
22605758  1654854     5.0  2003-08-09
22605759  2056022     2.0  2005-06-01
22605760    79380     1.0  2005-10-11
22605761  1722054     5.0  2003-08-26
22605762  2256870     1.0  2005-09-14
22605763  2494244     2.0  2003-03-19
22605764   397290     4.0  2002-11-23
22605765   515183     2.0  2004-09-07
22605766  1806515     3.0  2005-11-13
22605767  2118461     3.0  2005-12-20
22605768   120295     2.0  2005-07-13
22605769   387418     3.0  2003-08-14
22605770  2341353     4.0  2002-11-02
22605771  2487127     1.0  2004-09-19
22605772   893014     3.0  2005-06-18
22605773  1461435     1.0  2003-02-12
22605774   249378     2.0  2003-11-18
22605775  2380866     3.0  2004-02-02
22605776  1639792     1.0  2002-10-15
22605777  1515355     4.0  2003-03-07
22605778  1565041     3.0  2004-01-04
22605779   151344     3.0  2004-01-26
22605780  2460347     1.0  2005-12-19
22605781  2339129     4.0  2002-10-07
22605782    59005     4.0  2005-01-21
22605783  1789683     5.0  2005-05-25
22605784  1878798     1.0  2003-02-17
22605785  2634967     1.0  2005-01-10

[22605786 rows x 3 columns]

In [70]:
## Read combined data 4 file
data_4 = pd.read_csv('netflixdata/combined_data_4.txt', header = None, names=['User', 'Rating', 'Date'], usecols=[0, 1, 2])
data_4

             User  Rating        Date
0          13368:     NaN         NaN
1         2385003     4.0  2004-07-08
2          659432     3.0  2005-03-16
3          751812     2.0  2002-12-16
4         2625420     2.0  2004-05-25
5         1650301     1.0  2005-08-30
6         2269227     4.0  2005-10-27
7         2220672     4.0  2002-08-19
8         2500511     4.0  2003-08-11
9         1452058     2.0  2005-01-29
10        1624891     3.0  2002-07-27
11         970031     3.0  2004-04-14
12         345673     4.0  2005-04-07
13        1426869     5.0  2005-04-21
14        1037088     2.0  2005-09-14
15        2079559     5.0  2005-10-08
16        2175560     5.0  2005-01-12
17         946805     4.0  2005-02-09
18         767843     1.0  2005-05-04
19         464031     3.0  2001-02-08
20        2473764     4.0  2005-09-26
21        2339119     3.0  2005-11-27
22         162348     3.0  2004-06-15
23        2622206     4.0  2005-10-09
24        1558606     3.0  2004-06-21
25         945258     3.0  2005-05-03
26        1315220     5.0  2002-05-15
27        1860412     3.0  2003-07-29
28        1338852     3.0  2003-07-14
29        1469354     2.0  2003-12-19
...           ...     ...         ...
26851896  1882093     3.0  2004-09-24
26851897   789449     2.0  2005-03-14
26851898   737905     3.0  2005-10-12
26851899   834423     3.0  2004-06-21
26851900   892826     2.0  2004-06-07
26851901  2142868     4.0  2004-04-28
26851902   953604     3.0  2004-08-31
26851903  2331946     1.0  2004-07-07
26851904  1205647     3.0  2004-10-16
26851905   357707     3.0  2004-10-18
26851906  1933317     3.0  2005-12-04
26851907   982006     3.0  2005-07-05
26851908   111084     2.0  2003-11-24
26851909   635735     4.0  2004-12-01
26851910  2167041     4.0  2005-02-01
26851911   925414     4.0  2005-02-08
26851912  1983962     2.0  2005-02-23
26851913   897629     3.0  2005-04-13
26851914  1274035     4.0  2005-06-10
26851915  2641559     3.0  2005-06-27
26851916   834323     2.0  2005-10-04
26851917   516110     5.0  2004-08-26
26851918   365996     3.0  2003-11-10
26851919   986348     4.0  2004-08-12
26851920   311124     3.0  2005-09-29
26851921  1790158     4.0  2005-11-01
26851922  1608708     3.0  2005-07-19
26851923   234275     1.0  2004-08-07
26851924   255278     4.0  2004-05-28
26851925   453585     2.0  2005-03-10

[26851926 rows x 3 columns]

In [71]:
## Combine all the data files into one
data_all = data_1
data_all = pd.concat([data_all, data_2], ignore_index = True)
data_all = pd.concat([data_all, data_3], ignore_index = True)
data_all = pd.concat([data_all, data_4], ignore_index = True)
data_all

              User  Rating        Date
0               1:     NaN         NaN
1          1488844     3.0  2005-09-06
2           822109     5.0  2005-05-13
3           885013     4.0  2005-10-19
4            30878     4.0  2005-12-26
5           823519     3.0  2004-05-03
6           893988     3.0  2005-11-17
7           124105     4.0  2004-08-05
8          1248029     3.0  2004-04-22
9          1842128     4.0  2004-05-09
10         2238063     3.0  2005-05-11
11         1503895     4.0  2005-05-19
12         2207774     5.0  2005-06-06
13         2590061     3.0  2004-08-12
14            2442     3.0  2004-04-14
15          543865     4.0  2004-05-28
16         1209119     4.0  2004-03-23
17          804919     4.0  2004-06-10
18         1086807     3.0  2004-12-28
19         1711859     4.0  2005-05-08
20          372233     5.0  2005-11-23
21         1080361     3.0  2005-03-28
22         1245640     3.0  2005-12-19
23          558634     4.0  2004-12-14
24         2165002     4.0  2004-04-06
25         1181550     3.0  2004-02-01
26         1227322     4.0  2004-02-06
27          427928     4.0  2004-02-26
28          814701     5.0  2005-09-29
29          808731     4.0  2005-10-31
...            ...     ...         ...
100498247  1882093     3.0  2004-09-24
100498248   789449     2.0  2005-03-14
100498249   737905     3.0  2005-10-12
100498250   834423     3.0  2004-06-21
100498251   892826     2.0  2004-06-07
100498252  2142868     4.0  2004-04-28
100498253   953604     3.0  2004-08-31
100498254  2331946     1.0  2004-07-07
100498255  1205647     3.0  2004-10-16
100498256   357707     3.0  2004-10-18
100498257  1933317     3.0  2005-12-04
100498258   982006     3.0  2005-07-05
100498259   111084     2.0  2003-11-24
100498260   635735     4.0  2004-12-01
100498261  2167041     4.0  2005-02-01
100498262   925414     4.0  2005-02-08
100498263  1983962     2.0  2005-02-23
100498264   897629     3.0  2005-04-13
100498265  1274035     4.0  2005-06-10
100498266  2641559     3.0  2005-06-27
100498267   834323     2.0  2005-10-04
100498268   516110     5.0  2004-08-26
100498269   365996     3.0  2003-11-10
100498270   986348     4.0  2004-08-12
100498271   311124     3.0  2005-09-29
100498272  1790158     4.0  2005-11-01
100498273  1608708     3.0  2005-07-19
100498274   234275     1.0  2004-08-07
100498275   255278     4.0  2004-05-28
100498276   453585     2.0  2005-03-10

[100498277 rows x 3 columns]

In [72]:
print("The dataframe of all the combined files has", data_all.shape[0], "rows and", data_all.shape[1], "columns.")

The dataframe of all the combined files has 100498277 rows and 3 columns.

In [73]:
# Find empty rows to slice dataframe for each movie
tmp_Movies = data_all[data_all['Rating'].isna()]['User'].reset_index()
tmp_Movies

           index    User
0              0      1:
1            548      2:
2            694      3:
3           2707      4:
4           2850      5:
5           3991      6:
6           5011      7:
7           5105      8:
8          20016      9:
9          20112     10:
10         20362     11:
11         20561     12:
12         21108     13:
13         21234     14:
14         21353     15:
15         21644     16:
16         24344     17:
17         31453     18:
18         42176     19:
19         42716     20:
20         42833     21:
21         43052     22:
22         43256     23:
23         43872     24:
24         45206     25:
25         46414     26:
26         52276     27:
27         52550     28:
28         92303     29:
29         92827     30:
...          ...     ...
17740  100354329  17741:
17741  100356854  17742:
17742  100357654  17743:
17743  100364106  17744:
17744  100364322  17745:
17745  100364936  17746:
17746  100365911  17747:
17747  100366789  17748:
17748  100367245  17749:
17749  100367427  17750:
17750  100367516  17751:
17751  100369992  17752:
17752  100370702  17753:
17753  100370870  17754:
17754  100371263  17755:
17755  100371403  17756:
17756  100380139  17757:
17757  100380660  17758:
17758  100384035  17759:
17759  100384334  17760:
17760  100384778  17761:
17761  100389090  17762:
17762  100421201  17763:
17763  100423159  17764:
17764  100488117  17765:
17765  100488431  17766:
17766  100489037  17767:
17767  100489242  17768:
17768  100490605  17769:
17769  100497355  17770:

[17770 rows x 2 columns]

In [74]:
movie_Indices = [[index, int(movie[:-1])] for index, movie in tmp_Movies.values]
len(movie_Indices)

17770

In [75]:
# Shift the movie_Indices by one to get start and endpoints of all movies
shifted_movieIndices = deque(movie_Indices)
shifted_movieIndices.rotate(-1)
len(shifted_movieIndices)

17770

In [76]:
# Gather all dataframes
user_data = []

# Iterate over all movies
for [df_id_1, movie_id], [df_id_2, next_movie_id] in zip(movie_Indices, shifted_movieIndices):

    # Check if it is the last movie in the file
    if df_id_1<df_id_2:
        tmp_df = data_all.iloc[df_id_1+1:df_id_2-1].copy()
    else:
        tmp_df = data_all.iloc[df_id_1+1:].copy()
        
    # Create movie_id column
    tmp_df['Movie'] = movie_id
    
    # Append dataframe to list
    user_data.append(tmp_df)

# Combine all dataframes
final_df = pd.concat(user_data)
del user_data, data_all, tmp_Movies, tmp_df, shifted_movieIndices, movie_Indices, df_id_1, movie_id, df_id_2, next_movie_id
print('Shape User-Ratings:\t{}'.format(final_df.shape))
final_df.sample(5)

Shape User-Ratings:	(100462738, 4)

             User  Rating        Date  Movie
94887199   146765     4.0  2004-02-29  16864
54393936   930931     4.0  2005-06-15   9909
10073316  1332725     3.0  2005-05-31   1962
7312785   2283439     4.0  2003-12-03   1467
95196636  2506564     3.0  2003-12-12  16882

In [77]:
# Get data
data = final_df['Rating'].value_counts().sort_index(ascending=False)

In [78]:
# Create trace
trace = go.Bar(x = data.index,
               text = ['{:.1f} %'.format(val) for val in (data.values / final_df.shape[0] * 100)],
               textposition = 'auto',
               textfont = dict(color = '#000000'),
               y = data.values,
               marker = dict(color = '#db0000'))

In [79]:
# Create layout
layout = dict(title = 'Distribution Of {} Netflix-Ratings'.format(final_df.shape[0]),
              xaxis = dict(title = 'Rating'),
              yaxis = dict(title = 'Count'))

In [80]:
# Create plot
fig = go.Figure(data=[trace], layout=layout)
plotly.offline.plot(fig)

'temp-plot.html'

Filter Sparse Movies and Users

In [39]:
# Filter sparse movies
min_movie_ratings = 40000
filter_Movies = (final_df['Movie'].value_counts() > min_movie_ratings)
filter_Movies = filter_Movies[filter_Movies].index.tolist()

In [40]:
# Filter sparse users
min_user_ratings = 400
filter_Users = (final_df['User'].value_counts() > min_user_ratings)
filter_Users = filter_Users[filter_Users].index.tolist()

In [41]:
# Actual filtering
filterd_df = final_df[(final_df['Movie'].isin(filter_Movies)) & (final_df['User'].isin(filter_Users))]
del filter_Movies, filter_Users, min_movie_ratings, min_user_ratings
print('Shape User-Ratings unfiltered:\t{}'.format(final_df.shape))
print('Shape User-Ratings filtered:\t{}'.format(filterd_df.shape))

Shape User-Ratings unfiltered:	(100462738, 4)
Shape User-Ratings filtered:	(23842843, 4)

In [42]:
# Shuffle DataFrame
filterd_df = filterd_df.drop('Date', axis=1).sample(frac=1).reset_index(drop=True)

# Testingsize
n = 100000

# Split train- & testset
train = filterd_df[:-n]
test = filterd_df[-n:]

In [43]:
print("Train data shape", train.shape)
print("Test data shape", test.shape)

Train data shape (23742843, 3)
Test data shape (100000, 3)

In [81]:
matrix_df = train.pivot_table(index='User', columns='Movie', values='Rating')
print('Shape of the User-Movie-Matrix:\t{}'.format(matrix_df.shape))
matrix_df.sample(5)

Shape of the User-Movie-Matrix:	(74258, 646)

Movie,30,175,191,197,241,290,299,312,313,329,...,17431,17441,17479,17482,17508,17560,17622,17627,17709,17764
User,,,,,,,,,,,,,,,,,,,,,
2310051,NaN,NaN,3.0,NaN,NaN,NaN,2.0,NaN,4.0,NaN,...,NaN,5.0,2.0,5.0,NaN,NaN,2.0,NaN,NaN,NaN
2626475,NaN,5.0,4.0,3.0,NaN,NaN,5.0,3.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,5.0
585922,2.0,2.0,5.0,NaN,NaN,5.0,3.0,NaN,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,3.0,1.0,NaN,NaN,5.0
1507168,NaN,3.0,NaN,NaN,4.0,NaN,3.0,NaN,NaN,NaN,...,5.0,3.0,NaN,3.0,NaN,NaN,NaN,3.0,NaN,1.0
349724,5.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,4.0,NaN

Cosine User-User Similarity

In [45]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics.pairwise import cosine_similarity

# User index for recommendation
user_index = 0

# Number of similar users for recommendation
no_of_recomm = 100

# Plot top n recommendations
top20_recomm = 20

In [46]:
# Fill in missing values
imputedMatrix_df = matrix_df.T.fillna(matrix_df.mean(axis=1)).T
imputedMatrix_df.head()

Movie,30,175,191,197,241,290,299,312,313,329,...,17431,17441,17479,17482,17508,17560,17622,17627,17709,17764
User,,,,,,,,,,,,,,,,,,,,,
1000033,4.000000,3.376033,4.000000,3.376033,3.376033,3.376033,3.376033,3.376033,3.376033,3.376033,...,3.376033,2.000000,3.376033,3.000000,3.376033,3.000000,3.376033,3.000000,3.376033,4.000000
1000062,3.000000,3.306233,3.306233,3.000000,5.000000,3.306233,3.000000,3.306233,4.000000,3.306233,...,3.306233,4.000000,3.000000,3.306233,3.306233,3.000000,3.306233,4.000000,3.000000,3.000000
1000079,4.000000,3.026764,3.026764,3.000000,3.026764,3.026764,3.000000,3.026764,2.000000,3.026764,...,3.026764,3.000000,3.000000,3.026764,3.026764,3.026764,1.000000,2.000000,3.026764,3.000000
1000084,3.708185,3.708185,3.708185,4.000000,3.708185,3.708185,3.708185,4.000000,4.000000,3.708185,...,3.708185,3.708185,4.000000,3.708185,3.708185,4.000000,3.708185,3.708185,3.708185,3.708185
1000095,3.772152,4.000000,3.772152,3.772152,3.772152,3.772152,3.772152,3.772152,3.000000,5.000000,...,3.772152,3.772152,4.000000,3.772152,5.000000,3.772152,4.000000,3.000000,3.772152,3.772152

In [47]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics.pairwise import cosine_similarity

# Compute similarity between all users
similarity = cosine_similarity(imputedMatrix_df.values)
similarity

array([[1.        , 0.97396189, 0.96201277, ..., 0.97784986, 0.97761995,
        0.97343282],
       [0.97396189, 1.        , 0.95510403, ..., 0.97490613, 0.97207822,
        0.97053425],
       [0.96201277, 0.95510403, 1.        , ..., 0.95344525, 0.95609527,
        0.95473123],
       ...,
       [0.97784986, 0.97490613, 0.95344525, ..., 1.        , 0.97596711,
        0.97044239],
       [0.97761995, 0.97207822, 0.95609527, ..., 0.97596711, 1.        ,
        0.9715344 ],
       [0.97343282, 0.97053425, 0.95473123, ..., 0.97044239, 0.9715344 ,
        1.        ]])

In [48]:
# Remove self-similarity from similarity-matrix
similarity = similarity - np.eye(similarity.shape[0])
similarity

array([[-2.22044605e-15,  9.73961895e-01,  9.62012772e-01, ...,
         9.77849863e-01,  9.77619947e-01,  9.73432818e-01],
       [ 9.73961895e-01,  4.44089210e-16,  9.55104029e-01, ...,
         9.74906125e-01,  9.72078216e-01,  9.70534246e-01],
       [ 9.62012772e-01,  9.55104029e-01, -1.11022302e-15, ...,
         9.53445250e-01,  9.56095273e-01,  9.54731227e-01],
       ...,
       [ 9.77849863e-01,  9.74906125e-01,  9.53445250e-01, ...,
         1.11022302e-15,  9.75967112e-01,  9.70442395e-01],
       [ 9.77619947e-01,  9.72078216e-01,  9.56095273e-01, ...,
         9.75967112e-01,  1.77635684e-15,  9.71534399e-01],
       [ 9.73432818e-01,  9.70534246e-01,  9.54731227e-01, ...,
         9.70442395e-01,  9.71534399e-01,  2.66453526e-15]])

In [49]:
# Sort similar users by index
similar_user_index = np.argsort(similarity[user_index])[::-1]
similarity

array([[-2.22044605e-15,  9.73961895e-01,  9.62012772e-01, ...,
         9.77849863e-01,  9.77619947e-01,  9.73432818e-01],
       [ 9.73961895e-01,  4.44089210e-16,  9.55104029e-01, ...,
         9.74906125e-01,  9.72078216e-01,  9.70534246e-01],
       [ 9.62012772e-01,  9.55104029e-01, -1.11022302e-15, ...,
         9.53445250e-01,  9.56095273e-01,  9.54731227e-01],
       ...,
       [ 9.77849863e-01,  9.74906125e-01,  9.53445250e-01, ...,
         1.11022302e-15,  9.75967112e-01,  9.70442395e-01],
       [ 9.77619947e-01,  9.72078216e-01,  9.56095273e-01, ...,
         9.75967112e-01,  1.77635684e-15,  9.71534399e-01],
       [ 9.73432818e-01,  9.70534246e-01,  9.54731227e-01, ...,
         9.70442395e-01,  9.71534399e-01,  2.66453526e-15]])

In [50]:
# Sort similar users by score
similar_user_score = np.sort(similarity[user_index])[::-1]

In [51]:
# Get unrated movies
unrated_movies = matrix_df.iloc[user_index][matrix_df.iloc[user_index].isna()].index
unrated_movies

Int64Index([  175,   197,   241,   290,   299,   312,   313,   329,   331,
              357,
            ...
            17328, 17330, 17339, 17387, 17405, 17431, 17479, 17508, 17622,
            17709],
           dtype='int64', name='Movie', length=404)

In [53]:
# Weight ratings of the top n most similar users with their rating and compute the mean for each movie
mean_movie_recommendations = (imputedMatrix_df.iloc[similar_user_index[:no_of_recomm]].T * similar_user_score[:no_of_recomm]).T.mean(axis=0)
mean_movie_recommendations

Movie
30       4.583693
175      4.600706
191      4.635365
197      4.603173
241      4.604229
290      4.600437
299      4.591258
312      4.576748
313      4.598377
329      4.601594
331      4.582925
357      4.564805
406      4.602933
457      4.614590
468      4.571336
482      4.603011
483      4.595428
571      4.617851
607      4.601719
658      4.599034
708      4.571391
758      4.598378
788      4.598802
798      4.593127
886      4.603521
985      4.601174
1046     4.587148
1073     4.608212
1102     4.601406
1110     4.600102
           ...
16969    4.604131
17031    4.599701
17088    4.607301
17129    4.601873
17149    4.603493
17154    4.591073
17157    4.609388
17169    4.642296
17174    4.588948
17189    4.587183
17215    4.603795
17295    4.578986
17308    4.557260
17324    4.609148
17328    4.604558
17330    4.584835
17339    4.582052
17355    4.609960
17387    4.562371
17405    4.606445
17431    4.588155
17441    4.597498
17479    4.584361
17482    4.599886
17508    4.597790
17560    4.608416
17622    4.581785
17627    4.626134
17709    4.596388
17764    4.591434
Length: 646, dtype: float64

In [54]:
# Filter for unrated movies and sort results
best_movie_recommendations = mean_movie_recommendations[unrated_movies].sort_values(ascending=False).to_frame().join(movie_Title)
best_movie_recommendations

              0    Year                                               Name
Movie
12293  4.632647  1972.0                                      The Godfather
7057   4.629748  2002.0  Lord of the Rings: The Two Towers: Extended Ed...
13081  4.626568  2004.0                                               Troy
7230   4.625842  2001.0  The Lord of the Rings: The Fellowship of the R...
5154   4.625030  2005.0                                        Constantine
3624   4.624302  2003.0                                   The Last Samurai
3079   4.623961  1994.0                     The Lion King: Special Edition
9442   4.623095  2004.0                          The Chronicles of Riddick
3864   4.622302  2005.0                                      Batman Begins
14961  4.621482  2003.0  Lord of the Rings: The Return of the King: Ext...
13728  4.618021  2000.0                                          Gladiator
13673  4.617939  1995.0                                          Toy Story
4306   4.617249  1999.0                                    The Sixth Sense
4545   4.617178  1990.0                Dances With Wolves: Special Edition
3290   4.616993  1974.0                                      The Godfather
14691  4.616389  1999.0                                         The Matrix
9592   4.615813  1998.0      There's Something About Mary: Special Edition
16469  4.615735  2004.0                                 Alien vs. Predator
8915   4.615697  1991.0                      Terminator 2: Extreme Edition
14670  4.615087  1989.0                                             Batman
457    4.614590  2004.0                                  Kill Bill: Vol. 2
15116  4.614016  2004.0                                            Miracle
16604  4.613892  1992.0                                         Unforgiven
15922  4.613599  1967.0                                       The Graduate
16377  4.612465  1999.0                                     The Green Mile
7234   4.610626  2000.0                                       Men of Honor
4266   4.609942  2004.0                          The Passion of the Christ
4590   4.609608  2004.0                                      The Forgotten
3825   4.609575  2002.0                               The Sum of All Fears
13887  4.609575  2004.0           The Princess Diaries 2: Royal Engagement
...         ...     ...                                                ...
14047  4.580486  2003.0                                   Tears of the Sun
1703   4.580484  1998.0                     Ever After: A Cinderella Story
3538   4.579419  1988.0                                            Beaches
4345   4.579185  2002.0                              Bowling for Columbine
14109  4.579079  1990.0                                       Total Recall
6555   4.578705  2002.0                                           Insomnia
16640  4.577135  2004.0                                             Closer
312    4.576748  2000.0                                      High Fidelity
12476  4.576248  2002.0                                            Blade 2
4262   4.576041  1999.0                                      Sleepy Hollow
6464   4.575880  2002.0                                         Unfaithful
14454  4.575199  2003.0                                  Kill Bill: Vol. 1
2112   4.574914  2003.0                                           Identity
5515   4.574490  1964.0                                    Dr. Strangelove
10730  4.571763  2002.0                                  Gangs of New York
708    4.571391  2000.0                                  The Perfect Storm
468    4.571336  2003.0                            The Matrix: Revolutions
9863   4.570878  2000.0                                        The 6th Day
15818  4.569866  1998.0                                  The Mask of Zorro
3320   4.569228  2002.0                                        About a Boy
4472   4.567681  2003.0                                      Love Actually
2430   4.564846  1979.0                         Alien: Collector's Edition
357    4.564805  2003.0                              House of Sand and Fog
17387  4.562371  2002.0                                          Secretary
5814   4.561720  2002.0                                     One Hour Photo
3254   4.559357  2003.0                                          Daredevil
3936   4.558503  1999.0                                        End of Days
12084  4.558434  2002.0                                         Adaptation
6931   4.553726  2003.0                 Terminator 3: Rise of the Machines
1428   4.550147  2003.0                                        The Recruit

[404 rows x 3 columns]

In [55]:
# Create user-id mapping
user_id_mapping = {id:i for i, id in enumerate(imputedMatrix_df.index)}

In [56]:
prediction = []
# Iterate over all testset items
for user_id in test['User'].unique():
    
    # Sort similar users by index
    similar_user_index = np.argsort(similarity[user_id_mapping[user_id]])[::-1]
    # Sort similar users by score
    similar_user_score = np.sort(similarity[user_id_mapping[user_id]])[::-1]
    
    for movie_id in test[test['User']==user_id]['Movie'].values:
        # Compute predicted score
        score = (imputedMatrix_df.iloc[similar_user_index[:no_of_recomm]][movie_id] * similar_user_score[:no_of_recomm]).values.sum() / similar_user_score[:no_of_recomm].sum()
        prediction.append([user_id, movie_id, score])

In [57]:
# Create prediction DataFrame
df_pred = pd.DataFrame(prediction, columns=['User', 'Movie', 'Prediction']).set_index(['User', 'Movie'])
df_pred = test.set_index(['User', 'Movie']).join(df_pred)
df_pred

               Rating  Prediction
User    Movie
2597758 2391      4.0    4.611707
2113596 7624      5.0    4.380168
2618083 14644     2.0    4.369909
1156513 7233      4.0    4.624447
853918  13050     3.0    4.306955
1976943 10225     5.0    4.568632
476098  6450      5.0    4.446022
1259176 6974      4.0    4.655027
356546  1962      3.0    4.610594
939176  12785     5.0    4.682411
239431  8954      5.0    4.649155
2399842 16901     3.0    4.662570
528691  6475      4.0    4.649805
1178284 9800      4.0    4.548278
1315827 4996      4.0    4.418070
2414534 1110      3.0    4.652938
282115  13636     4.0    4.597416
402354  357       3.0    4.414324
842706  14691     5.0    4.654095
1070436 1470      3.0    4.563508
13407   6196      5.0    4.201047
1373140 7937      4.0    4.338177
2479620 14302     5.0    4.364667
252054  6555      4.0    3.936748
195464  12918     3.0    4.244025
1179274 8016      2.0    4.650059
2362641 12918     4.0    4.616480
353792  2462      3.0    4.598457
396153  5223      3.0    4.409337
815953  2391      3.0    3.734173
...               ...         ...
1642319 16223     4.0    4.172100
2282041 6042      4.0    4.460042
1994954 11490     4.0    4.344094
1265428 12293     5.0    4.848787
992095  17154     4.0    4.606314
1244425 12672     4.0    4.641639
888371  571       5.0    4.546877
2007255 3782      4.0    4.532944
475278  5293      5.0    4.679188
669857  5862      5.0    4.137306
1935273 10123     2.0    3.916839
31550   12501     5.0    4.597277
2638916 17339     5.0    4.600026
2640864 12582     1.0    4.585566
2484834 7617      4.0    4.511144
1867839 9205      3.0    4.610404
1160812 6994      4.0    4.576396
963677  14660     5.0    4.618555
895037  15233     1.0    4.573885
18108   6030      3.0    3.740617
396158  6030      5.0    4.654933
1422346 7233      5.0    4.640062
2431497 4656      4.0    4.602645
499745  1145      1.0    3.674465
2411140 6287      5.0    4.648425
2637716 11064     4.0    4.488999
2476026 12918     5.0    4.623712
1777895 313       2.0    4.604323
2261989 4302      2.0    4.551165
1865846 12090     5.0    4.645738

[100000 rows x 2 columns]

In [58]:
# Get labels and predictions
y_true = df_pred['Rating'].values
y_pred = df_pred['Prediction'].values

In [59]:
# Compute RMSE
rmse = np.sqrt(mean_squared_error(y_true=y_true, y_pred=y_pred))
rmse

1.3020319411168924

In [64]:
# Create trace
trace = go.Bar(x = best_movie_recommendations.iloc[:top20_recomm, 0],
               text = best_movie_recommendations['Name'],
               textposition = 'outside',
               textfont = dict(color = '#000000'),
               orientation = 'h',
               y = list(range(1, top20_recomm + 1)),
               marker = dict(color = '#db0000'))
# Create layout
layout = dict(title = 'Ranking Of Top {} Recommended Movies For A User Based On Similarity'.format(top20_recomm),
              xaxis = dict(title = 'Recommendation-Rating',
                           range = (4.1, 4.8)),
              yaxis = dict(title = 'Movie'))
# Create plot
fig = go.Figure(data=[trace], layout=layout)
plot(fig)

'temp-plot.html'